
.table-stripped tr td a {
    color: #000;
}

.table-stripped tr td a:hover {
    text-decoration : none;
    color: #000;
}




#Section_AddNewItem{
    text-align: center;
    background: #d5d5d5;
    padding: 10px 20px;
}
#Section_AddNewItem a{
    font-size: 16px;
    color: black;
}